<h1>アカウント削除</h1>
<ul>
<li> 複数の機能が使用できなくなります。</li>
<li> 保存されている全てのデータが削除されます。</li>
<li> 再登録しても以前のデータは引き継ぎができません。</li>
    </ul>

    <p>よろしいですか？</p>

    <%= link_to 'やっぱり削除しない', users_top_path,class: "btn btn-default btn-lg" %>


    <%= link_to 'アカウント削除・退会', users_complete_path,class: "btn btn-default btn-lg" %>