<div class="bigbox">
  <span class="enter">アカウント削除</span>
    <br>
    <br>
    <ul>
    <li class="name-style"><i class="fas fa-chevron-circle-right"></i> 複数の機能が使用できなくなります。</li><br>
    <li class="name-style"><i class="fas fa-chevron-circle-right"></i> 保存されている全てのデータが削除されます。</li><br>
    <li class="name-style"><i class="fas fa-chevron-circle-right"></i> 再登録しても以前のデータは引き継ぎができません。</li>
  </ul>
　　　<br><br>
    <h4 class="name-style">よろしいですか？</h4>
    <div class="line">
      <%= link_to 'やっぱり削除しない', users_top_path,class: "btn btn-default btn-lg" %>
    </div>

      <hr>
    <div class="line">
      <%= link_to 'アカウント削除・退会', users_complete_path, method: :delete, class: "btn btn-default btn-lg" %>
    </div>
</div>