<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <%= stylesheet_link_tag "application" %>
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
<body>
<div class="bigbox">
<span class="big-letter">MY PAGE</span>

<% if flash[:notice] %>
    <div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong> Great! </strong>-- You did it succesfully --
    </div>
  <% end %>
  <div class="space">
    </div>
    <br><br>
    <div class="icon">MENU
        <ul class="menu">

    <li class="spread">
          <a class="unit" href="/weights/calc">カロリー計算</a>
    </li>

    <li class="spread">
          <a class="unit" href="/weights">体重グラフ</a>
    </li>

    <li class="spread">
          <a class="unit" href="/users/edit"><i class="fas fa-wrench"></i>&nbsp;設定</a>
    </li>

    <li class="spread">
          <a class="unit" href="#"><span class="btn-heart">&hearts;</span></a>
    </li>

    <li class="spread">
          <a class="unit" href="/weights/predict">体重予測</a>
    </li>


  </ul>
  </div>
</div>
<% if current_user.admin == true %>
  <li class="header">
    <br><br>
    <%= link_to "ユーザー一覧", users_path  %><br>
    <%= link_to "問い合わせ一覧", contacts_path  %>
  </li>
  <% end %>
</body>
</head>