<h1>カロリー計算</h1>

<% time = Time.now # Thu Dec 24 00:00:00 +0900 2011  %>
<%= time.strftime("%m/%d(#{%w(日 月 火 水 木 金 土)[Time.now.wday]})") %>

<h2>
<%= @user.weight %> kg</h2>

<h2> BMI
<%= (@user.weight / ( @user.height / 100.0 ) ** 2).floor(2) %></h2>

<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <form>
        <label for="textForm1">目標体重 </label>
        <input type="text" id="ideal_weight"><span>kg</span><br>

        <label for="textForm2">期間 </label>
        <input type="text" id="term"><span>日</span><br>

        <button id="button">計算</button>
    </form>

    <label for="resultForm">1日の摂取カロリーが</label>
    <input type="text" id="resultForm"><span>cal 程度で<br>
    実現可能</span>

    <p>※過度な増量・減量は健康を害する恐れがあるので表示できません。</p>

</body>

<script>

// ボタンの要素を取得
var button = document.getElementById("button");

// ボタンをクリックした時の処理
button.addEventListener("click", function(e) {

    e.preventDefault();

    // 2つの入力フォームの値を取得
    var textForm1 = document.getElementById("ideal_weight").value;
    var textForm2 = document.getElementById("term").value;

    var weight = <%= raw @user.weight.to_json %>
    // console.log(weight + "json");
    weight = Number(weight);
    var burncalory = (weight * 23.6) /0.6;
  	console.log(calory);

    // 2つの数値を足す
    var calory = (weight - parseFloat(textForm1)) / parseFloat(textForm2) * 7000;
    var idealcalory = burncalory - calory;
    // 計算の結果を別の入力フォームに表示
    var resultForm = document.getElementById("resultForm");
    resultForm.value = idealcalory;
});

</script>

</html>
