<div class="contacts-box">
  <h1>問い合わせ詳細</h1>
  <br>
  <br>
  <br>
  <br>
  <p>タイトル</p>
  <h2><%= @contact.contact_title %></h2>
  <br>
  <p>返信用メールアドレス</p>
  <h3><%= @contact.reply %></h3>
  <br>
  <p>本文</p>
  <h4><%= @contact.contact_text %></h3>
  <br>
</div>