<body class="admin">
  <h1 class="big-letter">お問い合わせ 詳細</h1>
    <div class="bigbox">
      <br>
      <br>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class="thead-light">
            <tr>
              <th class="c1">タイトル</th>
            </tr>
          </thead>
            <tr>
              <td><h3 class="dark"><%= @contact.contact_title %></h3></td>
            </tr>
            <tr>
              <th class="c2">返信用メールアドレス</th>
            </tr>
            <tr>
              <td><h4 class="dark"><%= @contact.reply %></h4></td>
            </tr>
            <tr>
              <th class="c3">本文</th>
            </tr>
            <tr>
              <td><p class="dark"><%= @contact.contact_text %></p></td>
            </tr>
          </table>
        </div>
    </div>
  </body>