<div class="contact-show">
	<div class="contact-show-information">
		<h1>問い合わせ詳細</h1>
		<h5>タイトル</h5>
		<h3><%= @contact.contact_title %></h3>
		<h5>返信用メールアドレス</h5>
		<h3><%= @contact.reply %></h3>
		<h5>本文</h5>
		<h4><%= @contact.contact_text %></h3>
	</div>
</div