/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

/*共通部分：ヘッダー・フッター*/

* {
  color: #4e5665;
 font-family: "Yu Gothic";
}

h,p {
color: #4e5665;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
  text-align: center;
}

p.fotter-text {
  text-align: center;
  margin: 50px;
}

.flexbox {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
}

.flexbox-item {
    width: 50%;
    font-size: 18px;
    margin-top: 0px;
    padding: 1em;
    background-color: #bfdafe;
    border: solid 2px #4365de;
}

/*トップページ*/

a {
color: rgba(67,101,222,0.6);
text-decoration:underline;
}

.visual {
  width: 100%;
  height: 820px;
  background-image: url(/images/top7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.big {
  font-family: "Moon";
  font-weight: bold;
  font-size: 70px;
  color: rgba(67,101,222,0.6);
  margin: 20px;
  float: left;
}

a.start {
  margin:0 auto;
  display:block;
  text-align: center;
  width: 100px;
  height: 40px;
  padding: 20px 20px;
  border: solid 2px #fff;
  border-radius: 3px;
  background: rgba(0,0,0,0.2);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 5px;
  margin-top: 30%;
}

a.start:hover {
  color: #333;
  background: #fff;
}

ul {
  list-style: none;
  margin: 0 0 0 auto;
}

.header {
  font-family: "Moon";
  font-weight: bold;
  display: inline-block;
  font-size: 25px;
  margin: 2%;
  float: right;
  display:inline-block;
}

.caption {
  position: relative;
  color: white;
  background-color: rgba(67,101,222,0.7);
  line-height: 0.8;
  padding: 0.5em 0.5em 0.5em 1.5em;
  text-align: center;
  font-family: "Moon";
  font-weight: bold;
  width: 80%;
}

.caption:before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  position: absolute;
  left : 2em;
}

.info {
  line-height: 1.8;
  font-weight: bold;
  font-family: "Yu Gothic";
}

.about {
  margin: auto;
  padding-left: 100px;
}

.feature {
  font-family: "Moon";
  font-weight: bold;
  color: rgba(67,101,222,0.8);
}

.container{
  margin: auto;
}

.function {
  margin: 50px;
  padding: 20px;
  font-size: 40px;
  text-align: center;
}

.frame {
  float: left;
}

.second {
  text-align: center;
  margin: 20px;
  font-family: "Hiragino Kaku Gothic ProN";
  font-size: 25px;
  font-weight: bold;
  color: #ACB6E5;//非対応のブラウザでの文字色を設定
  background: -webkit-linear-gradient(0deg, #ACB6E5, #86FDE8);//背景色にグラデーションを指定
  -webkit-background-clip: text;//テキストでくり抜く
  -webkit-text-fill-color: transparent;//くり抜いた部分は背景を表示
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 30%;
  height: 450px;
  float: left;
  margin: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 5px 30px;
}

/*マイページ:*/

           $li: 5;
    $icon-size: 140px;
    $menu-size: 200px / 2;
    $unit-size: 50px;
$menu-position: (($menu-size * 2) - $icon-size) / -2;
       $offset: 100px;
          $deg: 360deg / $li;

.icon {
  position: relative;
    background: white;
    cursor: pointer;
    margin: auto;
    color: rgba(67,101,222,0.6);
    border-radius: 50%;
  height: $icon-size;
    width: $icon-size;
    line-height: $icon-size;
  text-align: center;
    font-size: 2.75em;
    font-weight: bold;
    transition: 0.24s 0.2s;
}

.icon:hover {
    background: rgba(white,0.5);
}

.menu {
  position: absolute;
  top: $menu-position;
  left: $menu-position;
  border: $menu-size solid transparent;
  cursor: default;
  border-radius: 50%;
  transform: scale(0);
    transition: transform 1.4s 0.07s;
    z-index: -5;
}

.spread {
    position: absolute;
    top: -($offset);
    left: -($offset);
    transform-origin: $offset $offset;
    transition: all 0.5s 0.1s;
}

.icon:hover {
     .menu {
         transition: transform 0.4s 0.08s,
                                        z-index   0s  0.5s;
     transform: scale(1.7);
     z-index: 5;
     }
     .spread, .unit {
         transition: all 0.6s;
     }

     @for $m from 1 through $li {
       .spread:nth-child(#{$m}) {
            transition-delay: $m * 0.02s;
            transform: rotate(45 + $deg * $m);
            .unit {
                 transition-delay: $m * 0.04s;
                 transform: rotate(-$deg * $m + 720 - 45);
            }
       }
  }
}

.unit {
    position: absolute;
    background: white;
    font-size: 25%;
  text-decoration: none;
    width: $unit-size*1.4;
    height: $unit-size*1.4;
    line-height: $unit-size*1.4;
    color: dodgerblue;
    border-radius: 50%;
    transition: 0.6s;
}

a,ul,li {
  margin:0;outline:0;padding:0;list-style:none
  }

.space {
  height: 120px;
}

/*個別機能ページ*/

.img {
  width: 100%;
  height: 350px;
  background-color: #bfdafe;
}

#gradient {
  width: 100%;
  height: 340px;
  padding: 0px;
  margin-bottom: 10px;
}



h1.effect {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 99;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(255,255,255,.80
    );
  box-shadow: 0 1em 2em -1em rgba(0,0,0,.7);
  padding: 1em 2em;
  line-height: 1.5;

  small {
    display: block;
    text-transform: lowercase;
    font-size: .7em;

    &:first-child {
      border-bottom: 1px solid rgba(0,0,0,.25);
      padding-bottom: .5em;
    }

    &:last-child {
      border-top: 1px solid rgba(0,0,0,.25);
      padding-top: .5em;
    }
  }
}


.alert {
  margin-top: 50px;
}

main {
  margin: 20px;
}

/*その他ユーザーページ*/

body:not(.home):not(.admin),
body:not(.admin):not(.home) {
background-color: #D9AFD9;
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

h4.devise {
  text-align: center;
  margin-top: 50px;
}

.bigbox {
  margin: auto;
  text-align: center;
  margin: 30px 100px;
}

.big-letter {
  font-family: Moon,"Yu Gothic";
  font-weight: bold;
  font-size: 50px;
  color: rgba(67,101,222,0.6);
  text-align: center;
}
.line {
  margin: 50px;
}

p.text {
  text-align: center;
}

hr {
  position: relative;
  height: 1px;
  border-width: 0;
  background-color: #00bcd4;
  background-image: -webkit-linear-gradient(left,
  #00bcd4 0%,#283593 50%,#00bcd4 100%);
  background-image:         linear-gradient(90deg,
  #00bcd4 0%,#283593 50%,#00bcd4 100%);
}

h2.attention {
  color: red;
}
.field-contact {
  margin: 40px;
}

.complete {
  font-family: "Moon";
  font-weight: bold;
  color: rgba(255,255,255,0.3);
  text-align: center;
  margin: 100px;
}

li {
  text-align: center;
}

.fa-chevron-circle-right {
  left : 1em;
  color: #4169e1;
}


.alert-danger {
  width: 50%;
  margin: auto;
}

　.btn-default {
  left: 500px;
}

.form-control {
  position:relative;
  max-width:270px;
  margin-bottom:15px;
  margin: auto;
}

.button1 {
  display:block;
  position:relative;
  margin: auto;
  width: 70px;
}

.button1 i{
  position:absolute;
  top:50%;
  left: 3px;
  margin-top:-0.5em;
  color:#0070be;
}

.middle-letter {
  font-weight: bold;
  text-align: center;
  color: #4e5665;
}


/*管理者側のページ*/

table tr:last-child{
  border-bottom: none;
}

table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 50px;
}

table tr{
  border-bottom: solid px white;
}

table tr:last-child{
  border-bottom: none;
}

table th{
  position: relative;
  text-align: left;
  width: 35%;
  background-color: #8EB8FF;
  color: white;
  font-size: 20px;
   vertical-align: middle;
  text-align: center;
  padding: 15px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #8EB8FF;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

table td {
  text-align: left;
  width: 35%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}

.name {
  width: 40%;
}

.dark {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

h3.dark {
  font-size: 25px;
}

p.dark {
  font-size: 15px;
}

.detail td{
  width: 70%;
}

.pagination {
  text-align: center;
}